<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <center>
          <div>
            <a href="https://twitter.com/_yayan24"><img src="/twitter.svg" height="40px" width="40px" style="float: left; vertical-align:middle; padding: 10px"></a>
            <a href="https://github.com/yayaneath"><img src="/github.svg" height="40px" width="40px" style="float: left; vertical-align:middle; padding: 10px"></a>
            <a href="https://www.linkedin.com/in/brayan-stiven-zapata-impata"><img src="/linkedin.svg" height="40px" width="40px" style="float: left; vertical-align:middle; padding: 10px"></a>
            <a href="https://www.researchgate.net/profile/Brayan_Zapata-Impata"><img src="/rgate.svg" height="40px" width="40px" style="float: left; vertical-align:middle; padding: 10px"></a>
          </div>
        </center>
        
        <div>
          <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </div>
      </header>
      
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
