<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <div>
          <ul>
            <li>
              <div>
                <p style="float: left; vertical-align:middle"><img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" height="30px" width="30px"></p>
                <p class="view"><a href="https://twitter.com/_yayan24">_yayan24</a></p>
              </div>
            </li>
            <li>
              <div>
                <p style="float: left; vertical-align:middle"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="30px" width="30px"></p>
                <p class="view"><a href="https://github.com/yayaneath">yayaneath</a></p>
              </div>
            </li>
          </ul>
        </div>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
